:root{
    /* primary */
    --yellow-orange: #F2994A;
}

*,*::before,*::after{
margin: 0;
box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    max-width: 100%;
}

fieldset{
    border: none;
}

legend{
    font-size: clamp(.625rem, 1vw + .5rem, .75rem);
    font-style: italic;
    padding: .25em 0;
}

input{
    outline: 1px gray;
}

ul{
    padding-left: .5em;
   list-style: none;
   counter-reset: instruction-counter;
}

li{
    counter-increment: instruction-counter;
    margin-bottom: 1em;
}

li:before{
    content: counter(instruction-counter);
    background-color: #F2994A;
    color: white;
    padding: .4em .8em;
    border-radius: 4px;
    font-size: 1.125em;
    font-weight: 700;
}

.container{
    width: min(90%, 1200px);
    margin: 0 auto;
}

body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

h2, h3{
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    padding: .5em 0 .5em .5em;
}

label, li{
    font-size: clamp(.75rem, 2vw + .08rem, 1rem);
    line-height: 25px;

}


/* start of header */
header{
    padding: 1em 0;
}

header h1{
    font-size: 1.5rem;
}

header p{
    font-size: .75rem;
}

.header-content{
    padding: 1em 0;
    /* outline: 2px solid palevioletred; */
    display: flex;
    align-items: flex-start;
}

.header-content img{
    margin-right: 1em;
}

/* end of header */

/* main */

main{
    padding: 1em 0 3em 0;
}



/* aside content */

aside{
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    gap: .5em;

}



aside div{
    display: flex;
    align-items: center;

}

aside div:nth-child(1)>span{
    margin-right: .5em;
}

aside div>div{
    display: block;
}

.servings{
    grid-column: 1/-1;
}

.servings div:nth-child(1)>span{
    color: #F2994A;
}





aside span{
    font-size: 0.625rem;
}

aside p{
    font-size: 0.75rem;
}



